{% extends 'base.html.twig' %}

{% block title %}Edit Episode{% endblock %}

{% block body %}
    <div class="page de connection">
        <h1 class="mb-3">Edit Episode</h1>

        {{ include('episode/_form.html.twig', {'button_label': 'Modifier'}) }}

        {{ include('episode/_delete_form.html.twig') }}

        <a href="{{ path('app_episode_index') }}">retour à la liste</a>
    </div>
{% endblock %}
