{% extends 'base.html.twig' %}

{% block title %}Edit Season{% endblock %}

{% block body %}
    <div class="page de connection">

            <h1 class="mb-3">Edit Season</h1>

            {{ include('season/_form.html.twig', {'button_label': 'Modifier'}) }}

            {{ include('season/_delete_form.html.twig') }}

            <a class="mt-3" href="{{ path('app_season_index') }}">retour à la liste</a>
    </div>

{% endblock %}
