//$primary: #FA95E4;
$primary: #826CFD;
$secondary : #FF005C;
$typographies: cursive;
$textPrimary : white ;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "text-primary": $textPrimary,
);

body {
    &.index-page {
      background-image: url('../images/fond.jpg');
      background-size: 100%;
    }

    //&.other-pages {
    //  background-position: center;
    //  background-size: 250%;
    //}

    background-image: url('../images/mur.jpg');
    --bs-body-color: white;
}

.homeNav{
  background-color: $primary;
  font-family : $typographies ;
  //color : $color;
}

.navbar-expand-lg .navbar-collapse {
  display: flex!important;
  flex-basis: auto;
  justify-content: flex-end;
}

.page.de.connection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 20px;
}

.titreFormulaire {
  margin-bottom: 20px;
}

input{
  width: 300px;
}

input#contact_email {
  margin: 8px;
}

input#contact_password {
  margin: 8px;
}

button#contact_Identification {
  background-color: $secondary;
  color: white;
  width: 300px;
  padding: 14px;
  border-radius: 10px;
  margin: 20px 8px 8px;
}

button{
  display: flex;
  justify-content: center;
}

.zoom{
  margin: 50px;
}

.zoomLink{
  color : $secondary;
  text-decoration:none;
}

.size.box.zoom{
  width: 80%;
}

//derniere modif
.media{
  width: 80%;
}

.margeLi{
  margin-top: 20px;
}

img.align-self-start.mr-3 {
  width: 10%;
}

.alert.alert-success {
  --bs-alert-color: #127127;; /* Couleur du texte pour le succès */
  background-color: #00ffa9;
  width: 300px;
}

.alert.alert-danger {
  --bs-alert-color: #f02d3f; /* Couleur du texte pour l'erreur */
  background-color: #ff000061;;
  width: 300px;
}

.oneUnderTheOther{
  display: flex;
  flex-direction: column;
}

.sideBySide{
  display: flex;
  flex-direction: row;
  //align-items: center;
  align-items: flex-start
}

@import "~bootstrap/scss/bootstrap";