{# <!doctype html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <title>Wild Series</title>
</head>
<body>
   <h1>{{ message }}</h1>
</body>
</html> #}
{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block bodyClass %}class="index-page"{% endblock %}

{% block body %}
{#    {% if app.user %}#}
{#    <h2 class="h2 mb-3 font-weight-normal"> Bienvenue {{ last_username }} </h2>#}
{#    {% endif %}#}

{% endblock %}