{# <!doctype html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <title>Wild Series</title>
</head>
<body>
   <h1>{{ message }}</h1>
</body>
</html> #}
{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block bodyClass %}class="index-page"{% endblock %}

{% block body %}

    {% include 'security/login.html.twig' %}

{#<img src="{{ asset('build/images/fond.jpg') }}" alt="fond">#}
{# <img src="{{ asset('build/images/subdir/fond.jpg') }}" alt="fond"> #}
{% endblock %}